      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Anasayfa</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">Hakkında</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/needs">Yardım Listesi</a>
            </li>
            {% if session['logged_in'] %}
              <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Kontrol Paneli</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/logout">Çıkış</a>
              </li>
            {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="/register">Kayıt Ol</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/login">Giriş Yap</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
  
  