{% extends "base.html" %}

{% block body %}

<h3>
    <strong>
        Proje Hakkında
    </strong>
</h3>
<hr>

<div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Biz Kimiz?</a>
        <a class="list-group-item list-group-item-action" id="list-what-list" data-toggle="list" href="#list-what" role="tab" aria-controls="what">Ne Yapıyoruz?</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Neden Yapıyoruz?</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Gizlilik Politikamız</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Kazancımız Ne?</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            Bizim kim olduğumuz ne kadar önemli bilmiyorum ama yinede söyleyeyim. Biz değiliz 
            şuan. Ben Ali İlteriş Keskin. Projeyi tek başına yürüten bir öğrenciyim.
        </div>
        <div class="tab-pane fade" id="list-what" role="tabpanel" aria-labelledby="list-what-list">
            Projenin amacı, maddi yardıma ihtiyacı olan insanların maddi durumu iyi insanlar ile
            buluşmasını sağlamak. Yani bursa, sponsora vs. ihtiyacın varsa burada bir ilan oluşturuyorsun
            ve yardımsever birinin sana ulaşmasını bekliyorsun. Umarım herkesin aradığını bulabildiği
            bir ortam olur :)
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            İnsanların faydasına olan her şey bu dünyayı daha yaşanılası kılar. Mutlu insanlarla
            dolu bir ülkede yaşamak istiyorum. Ve ülkemizde en büyük mutsuzluk sebebi ekonomi. 
            Belki bu platformda ekonomik durumu yerinde olmayan bireyler yardımsever birileri
            ile tanışır ve mutlu olurlar.
        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            Sizden gizli bilgileriniz alınmaz, hiçbir şey talep edilmez. Amacımız tamamiyle sizlerin
            faydasına olması yönünde. Kimsenin mahremiyetine saygısızlık yapmayız. Bize (şimdilik bana)
            güvenebilirsiniz :) Projenin kodlarını incelemek, katkıda bulunmak isterseniz <a href="https://github.com/ilteriskesk/ihtiyac">burayı</a>
            inceleyebilirsiniz.
        </div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
            Bu projeden hiçbir kazancımız yoktur arkadaşlar.
        </div>
      </div>
    </div>
  </div>

{% endblock body %}