{% extends "base.html" %}

{% block body %}
    <h3>
        <strong>
            Kontrol Paneli
        </strong>
    </h3>
    <small>
      Hoşgeldin, {{ session['email'] }}
      <ul>
        <li>
          Karışıklığı ve karmaşıklığı önlemek adına yalnızca 1 adet ihtiyaç girmelisin.
        </li>
        <li>
          Birden fazla ihtiyaç girmeye çalıştığında sistem buna müsaade etmeyecek hale getirilecektir.
        </li>
        <li>
          Anlayışın için teşekkür ederiz :)
        </li>
      </ul>
    </small>
    <hr>
    
    <a href="/addneed" class="btn btn-danger">İhtiyaç Ekle</a>

    <br><br>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Başlık</th>
            <th scope="col">Tarih</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for need in needs %}
          <tr>
            <th scope="row">{{ need.id }}</th>
            <td><a href="/need/{{ need.id}}">{{ need.title }}</a></td>
            <td>{{ need.created_date }}</td>
            <td><a href="/delete/{{ need.id }}" class="btn btn-danger">Sil</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock body %}