{% extends "base.html" %}

{% block body %}

<br><br>
<h3>
    İhtiyaç Sahiplerine Yardım Etmek İstiyorsan Doğru Yerdesin
</h3>
<br><br>
<p>
    Biz beraber güzeliz. Yardım ettikçe güzelleşeceğiz. Yardım etmek istiyorsun ve kime edeceğini 
    bilmiyorsan buraya bir göz atmanı öneririm. Eğer burs, yardım, öğrenci kulübüne sponsor vb.
    arıyorsan kayıt olup ilan vermeye ne dersin? 
</p>

<p>
Henüz yeniyiz ama şimdilik tanınma oranımız:
</p>

<div class="progress">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 30%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

{% endblock body %}