{% extends "base.html" %}

{% block body %}

<br><br>
<center>
    <img src="static/logo.png" width="150" height="150">  
    <img src="static/b_w_logo.jpeg" width="150" height="150">
</center>
<br><br><br>

<h4>
    -> Çorbada benimde tuzum olsun diyorsan doğru yerdesin :)
</h4>
<h4>
    -> Çorbamda tuz eksik diyorsan doğru yerdesin :)
</h4>
<h4>
    -> Çorbam yok diyorsan doğru yerdesin :)
</h4>
<br><br>
<p>
    Biz beraber güzeliz. Yardım ettikçe güzelleşeceğiz. Yardım etmek istiyorsun ve kime edeceğini 
    bilmiyorsan buraya bir göz atmanı öneririm. Eğer burs, yardım, öğrenci kulübüne sponsor vb.
    arıyorsan kayıt olup ilan vermeye ne dersin? 
</p>

<p>
    Mevcut ihtiyaçlara göz atmak istersen <a href="/needs">buraya</a> bakabilirsin.
</p>

{% endblock body %}
