{% extends "base.html" %}

{% block body %}

<h3>
    <strong>
        İhtiyaçlar
    </strong>
</h3>
<hr>

{% if needs %}

<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th class="" scope="col">Başlık</th>
        <th class="bg-danger" scope="col">Kategori</th>
        <th class="bg-success" scope="col">Tarih</th>
      </tr>
    </thead>
    <tbody>
    {% for need in needs %}
      <tr>
        <th scope="row">{{ need.id }}</th>
        <td class="" > <a href="/need/{{ need.id }}">{{ need.title }}</a></td>
        <td class="bg-danger" >{{ need.category }}</td>
        <td class="bg-success">{{ need.created_date }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% else %}

    <div class="alert alert-danger">
        Herhangi bir ihtiyaç bulunmuyor.
    </div>

{% endif %}
{% endblock body %}